<p><%= t("user.password_reset.mailer.guide")%></p>
<%= edit_password_reset_url id: @user.reset_token, email: @user.email %>
<p><%= t("user.password_reset.mailer.time")%></p>
<p><%= t("user.password_reset.mailer.stay_as")%></p>
