<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if can_destroy_user? user %>
    | <%= link_to t("user.destroy.button"), user, data: { "turbo-method": :delete,
                                          turbo_confirm: t("user.destroy.confirm") } %>
  <% end %>
</li>
